
/* gradient */
.uk-gradient-red        {	background-image: radial-gradient(circle farthest-corner at 12.3% 19.3%, #de6363 0, #9c1b26 100.2%) !important}
.uk-gradient-pink       {	background-image: radial-gradient(circle farthest-corner at 12.3% 19.3%, #de63b2 0, #9c1b85 100.2%) !important}
.uk-gradient-violet	    {	background-image: radial-gradient(circle farthest-corner at 12.3% 19.3%, #af63de 0, #601b9c 100.2%) !important}
.uk-gradient-purple	    {	background-image: radial-gradient(circle farthest-corner at 12.3% 19.3%, #7c63de 0, #361b9c 100.2%) !important}
.uk-gradient-indigo	    {	background-image: radial-gradient(circle farthest-corner at 12.3% 19.3%, #9fa8da 0, #49538e 100.2%) !important}
.uk-gradient-blue	    	{	background-image: radial-gradient(circle farthest-corner at 12.3% 19.3%, #639fde 0, #1b4d9c 100.2%) !important}
.uk-gradient-teal	    	{	background-image: radial-gradient(circle farthest-corner at 12.3% 19.3%, #4db6ac 0, #1d4a73 100.2%) !important}
.uk-gradient-green    	{	background-image: radial-gradient(circle farthest-corner at 12.3% 19.3%, #7cd051 0, #168467 100.2%) !important}
.uk-gradient-yellow	    {	background-image: radial-gradient(circle farthest-corner at 12.3% 19.3%, #d0b551 0, #846e16 100.2%) !important}
.uk-gradient-orange	    {	background-image: radial-gradient(circle farthest-corner at 12.3% 19.3%, #de9063 0, #9c4c1b 100.2%) !important}
.uk-gradient-dirt	    	{	background-image: radial-gradient(circle farthest-corner at 12.3% 19.3%, #ff8a65 0, #b15032 100.2%) !important}
.uk-gradient-gray	    	{	background-image: radial-gradient(circle farthest-corner at 12.3% 19.3%, #3c3c3c 0, #2a2a2a 100.2%) !important}
.uk-gradient-gray-lite	{	background-image: radial-gradient(circle farthest-corner at 12.3% 19.3%, #DDDDDD 0, #BBBBBB 100.2%) !important}
.uk-gradient-white	   	{	background-image: radial-gradient(circle farthest-corner at 12.3% 19.3%, #EEEEEE 0, #DDDDDD 100.2%) !important}
.uk-gradient-phpkiller	{	background-image: radial-gradient(circle farthest-corner at 12.3% 19.3%, #45a1f5 0, #1861d9 100.2%) !important}
img.emoji {
	height: 1.5em;
	width: 1.5em;
	margin: 0 .05em 0 .1em;
	vertical-align: -.3em
}

.php-box {
	background: #333;
	padding: 20px;
	border-radius: 5px;
}

.php-box-title {
	text-transform: uppercase;
	font-size: .9rem;
	letter-spacing: 2px;
	color: #000;
	font-weight: 700;
	margin-top: 10px;
}

.php-box-body {
	font-size: .8rem;
}

.php-box-img img {
	width: auto;
	height: 50px;
	Overfow: hidden;
	vertical-align: middle !important;
	line-height: 50px
}

.php-box-img {
	text-align: center;
	width: auto;
	Overfow: hidden;
	vertical-align: middle !important;
}

.uk-cover-background {
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat
}

.uk-navbar-container:not(.uk-navbar-transparent),
.uk-light .uk-navbar-nav>li>a,
.uk-navbar-container:not(.uk-navbar-transparent) .uk-logo {
	color: #666 !important
}

.uk-logo-img {
	width: auto;
	height: 36px;
}

.uk-logo {
	font-weight: 700;
	font-family: "Agency Fb";
}

.uk-block {
	position: relative;
	box-sizing: border-box;
	padding-top: 50px;
	padding-bottom: 50px
}

@media(min-width:768px) {
	.uk-block {
		padding-top: 100px;
		padding-bottom: 100px
	}
}

.uk-block:before,
.uk-block:after {
	content: "";
	display: table
}

.uk-block:after {
	clear: both
}

.uk-block>:last-child {
	margin-bottom: 0
}

.uk-block-large {
	padding-top: 50px;
	padding-bottom: 50px
}

@media(min-width:768px) {
	.uk-block-large {
		padding-top: 100px;
		padding-bottom: 100px
	}
}

@media(min-width:960px) {
	.uk-block-large {
		padding-top: 150px;
		padding-bottom: 150px
	}
}

.uk-block-default {
	background: #fff
}

.uk-block-muted {
	background: #f9f9f9
}

.uk-block-primary {
	background: #00a8e6
}

.uk-block-secondary {
	background: #1f1915
}

@media(min-width:2000px) {
	.uk-block-large {
		padding-top: 200px;
		padding-bottom: 200px
	}
}

.uk-block-default+.uk-block-default,
.uk-block-muted+.uk-block-muted,
.uk-block-primary+.uk-block-primary,
.uk-block-secondary+.uk-block-secondary {
	padding-top: 0
}

.uk-h1,
.uk-h2,
.uk-h3,
.uk-h4,
.uk-h5,
.uk-h6,
.uk-heading-2xlarge,
.uk-heading-large,
.uk-heading-medium,
.uk-heading-small,
.uk-heading-xlarge,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 300;
}

.uk-contrast .uk-button:hover:not(.uk-button-primary),
.uk-contrast .uk-button:focus:not(.uk-button-primary) {
	border-color: rgba(255, 255, 255, .7);
}

.uk-contrast .uk-button:active,
.uk-contrast .uk-button.uk-active {
	background-color: #fff;
	color: #525255;
}

.uk-contrast .uk-button:hover,
.uk-contrast .uk-button:focus {
	background-color: #fff;
	color: #525255;
}

.uk-contrast .uk-button:not(.uk-button-primary) {
	border-color: #fff;
}

.uk-contrast .uk-button {
	color: #fff;
	background: transparent;
}

.uk-button {
	-webkit-appearance: none;
	margin: 0;
	border: none;
	overflow: visible;
	font: inherit;
	color: #adadad;
	text-transform: none;
	display: inline-block;
	box-sizing: border-box;
	padding: 0 25px;
	background: 0 0;
	vertical-align: middle;
	line-height: 40px;
	min-height: 42px;
	font-size: 14px;
	text-decoration: none;
	text-align: center;
	border: 1px solid #c7c7c7;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.uk-button:active,
.uk-button.uk-active {
	background-color: transparent;
	color: #888;
	border-color: #a2a2a2;
}

.uk-button:hover,
.uk-button:focus {
	background-color: transparent;
	color: #888;
	outline: none;
	text-decoration: none;
	border-color: #a2a2a2;
}

.uk-button-large {
	min-height: 55px;
	padding: 0 35px;
	line-height: 53px;
	font-size: 18px;
}
